{{ define "description" }}
<meta name="Description" content="{{ .Title }}">
{{ end }}
{{ define "main" }}
<main class="post-list">
    <article>
        <header>
            <h1>{{ title .Title }}</h1>
        </header>
    </article>
    {{ range .Pages }}
        <div class="post animated fadeInDown">
            <p>
                <a href="{{.Permalink}}" aria-label="{{.Title}}"><b>{{.Title}}</b></a>
            </p>
            <p>
                {{ .Params.description }}
            </p>
            <p>
                Published: {{.Date.Format "2006-01-02"}} <br>
                Author: {{.Params.Author}}
            </p>
            <p>
                {{ range .Params.tags }}
                    <a href="../{{ . }}" aria-label="{{ . }}" class="tags"><span>#{{ . }}</span></a>
                {{ end }}
            </p>
        </div>
    {{ end }}
</main>
{{ end }}