{{ define "description" }}
<meta name="Description" content="List of posts">
{{ end }}
{{ define "main" }}
<main class="post-list">
    <article>
        <header style="display:inline-block;">
            {{.Content}}
        </header>
    </article>
    {{ range .Pages }}
        <div class="post animated fadeInDown">
            <p>
                <a href="{{.Permalink}}" aria-label="{{.Title}}"><b>{{.Title}}</b></a>
            </p>
            <p>
                {{.Params.description}}
            </p>
            <p>
                Published: {{.Date.Format "2006-01-02"}} <br>
                Author: {{.Params.Author}}
            </p>
            <p>
                {{ range .Params.tags }}
                    <span class="tags">#{{ . }}</span>
                {{ end }}
            </p>
        </div>
    {{ end }}
</main>
{{ end }}