{{ define "description" }}
<meta name="Description" content="List of posts">
{{ end }}
{{ define "main" }}
<main class="post-list">
    <article>
        <header>
        </header>
        {{.Content}} 
    </article>
    {{ range .Pages }}
        <div class="post animated fadeInDown">
            <a href="{{.Permalink}}" aria-label="{{.Title}}"><p>{{.Title}}</p></a>
            <p>
                Published: {{.Date.Format "2006-01-02"}}
            </p>
        </div>
    {{ end }}
</main>
{{ end }}