{{ define "description" }}
<meta name="Description" content="List of posts">
{{ end }}
{{ define "main" }}
<main class="post-list">
    <article>
        <header style="display:inline-block;">
            {{.Content}}
        </header>
    </article>
    {{ range .Pages }}
        <div class="post animated animatedFadeInUp fadeInUp">
            <div class="post-thumbnail"><img src="{{.Permalink}}img/{{.Params.thumbnail}}" alt="" width="200px;"></div>
            <div class="post-content">
                <p>
                    <a href="{{.Permalink}}" aria-label="{{.Title}}"><b>{{.Title}}</b></a>
                </p>
                <p>
                    {{.Params.description}}
                </p>
                <p>
                    Published: {{.Date.Format "2006-01-02"}} <br>
                    Author: {{.Params.Author}}
                </p>
                <p>
                    {{ range .Params.tags }}
                        <span class="tags tags-{{ . }}"> <b>#{{ . }}</b></span>
                    {{ end }}
                </p>
            </div>
        </div>
    {{ end }}
    <script>
        window.addEventListener('load', () =>{
            quicklink();
        });
    </script>
</main>
{{ end }}