<style>
    html, body {
        font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
        color: #001F3F;
        margin: 0px;
    }
    
    a {
        text-decoration: none;
        -webkit-text-emphasis: none;
                text-emphasis: none;
        display: inline-block;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    a:visited {
        color: #001F3F;
    }
    
    .nav-wrapper {
        text-align: right;
        padding: 20px;
        border: 1px solid #dae1e7;
    }

    .icons {
        height: 30px;
        width: 30px;
        margin: 0px;
    }

    .logo {
        width: 150px; height: 60px;
    }
    .post-list{
        padding-left: 10%; 
        padding-right: 10%;
    }
    .post {
        border: 1px solid #dae1e7;
        margin-bottom: 5px;
        padding-left: 22px;
        padding-right: 22px;
    }
    pre {
        padding: 5px;
        word-break: break-all;
        overflow: auto;
        border: 1px solid #dae1e7;
        border-radius: 5px;
    }
    code {
        font-family: Consolas;
        font-size: 12pt;
    }

    figure {
        margin-left: 0;
    }

    @media only screen and (max-width: 600px) {
        .post-list {
            padding-left: 0; 
            padding-right: 0;
        }
        .post {
            padding-left: 1%; 
            padding-right: 1%;
            word-break: break-word;
            font-size: 10pt;
        }
        .nav-wrapper {
            font-size: 9pt;
        }
        .logo {
            width: 100px; height: 45px;
        }
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      @-webkit-keyframes fadeInDown {
        from {
          opacity: 0;
          
        }
      
        to {
          opacity: 1;
          
        }
      }
      
      @keyframes fadeInDown {
        from {
          opacity: 0;
          
        }
      
        to {
          opacity: 1;
          
        }
      }
      
      .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
      }
</style>