<style>
    html, body {
        font-family: Helvetica, Arial, sans-serif, Times;
        color: #001F3F;
        margin: 0px;
        scroll-behavior: smooth;
    }
    
    a {
        text-decoration: none;
        -webkit-text-emphasis: none;
                text-emphasis: none;
        display: inline-block;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    a:visited {
        color: #001F3F;
    }
    
    .nav-wrapper {
        text-align: right;
        padding: 20px;
        border: 1px solid #dae1e7;
        max-height: 6vh;
    }

    .icons {
        height: 30px;
        width: 30px;
        margin: 0px;
    }

    .logo {
        width: 140px; height: 60px;
    }
    .post-list{
        padding-left: 20%; 
        padding-right: 20%;
    }

    .content-page {
        display: grid;
        grid-template-columns: 20% auto;
        grid-gap: 1px;
    }
    .content {
        padding-left: 5%;
        padding-right: 5%;
        height: 89vh;
        overflow: auto;
    }
    .toc {
        border-right: 1px solid #dae1e7;
        font-size: 14pt;
        padding-left: 15px;
        height: 89vh;
        overflow: auto;
    }
    .toc ul {
        list-style-type: none;
        padding-left: 0px;
    }
    .toc li {
        margin-bottom: 23px;
        margin-top: 23px;
    }
    .toc li a:hover {
        text-decoration: underline;
        text-decoration-color: #001F3F;
    }
    .post {
        border-radius: 2px;
        border: 1px solid #dae1e7;
        margin-bottom: 5px;
        padding-left: 22px;
        padding-right: 22px;
    }
    pre {
        padding: 5px;
        word-break: break-all;
        overflow: auto;
        border: 1px solid #dae1e7;
        border-radius: 2px;
    }
    code {
        font-family: Consolas;
        font-size: 12pt;
    }

    figure {
        margin-left: 0;
    }

    .tags {
        background-color: #dae1e7;
        border-radius: 2px;
        padding: 5px;
        margin-bottom: 10px;
    }
    a:link {
        color: #001F3F;
    }

    @media only screen and (max-width: 768px) {
        .toc {
            display: none;
        }
        .content-page {
            display: block;
        }
        .content { 
            padding-left: 1%; 
            padding-right: 1%;
            word-break: break-word;
            font-size: 10pt;
            height: 100%;
        }
        .post-list {
            padding-left: 1%; 
            padding-right: 1%;
        }
        .post {
            padding-left: 1%; 
            padding-right: 1%;
            word-break: break-word;
            font-size: 10pt;
        }
        .nav-wrapper {
            font-size: 9pt;
        }
        .logo {
            width: 100px; height: 45px;
        }
        code {
            font-family: Consolas;
            font-size: 12px;
        }
        header{
            text-align: center;
        }
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      @-webkit-keyframes fadeInDown {
        from {
          opacity: 0;
          
        }
      
        to {
          opacity: 1;
          
        }
      }
      
      @keyframes fadeInDown {
        from {
          opacity: 0;
          
        }
      
        to {
          opacity: 1;
          
        }
      }
      
      .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
      }
</style>